// img, video {
//   height: 100vh !important;
//   width: auto !important;
// }

img, video {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.slide-show {
  position: relative;
  height: 100vh;
}

.slide-message {
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 1;
  color: white;
  background: rgba(0, 0, 0, 0.43);
  padding: 20px 30px;
  font-weight: bold;
}