<header>
  <div class="inner-large">
      <div class="half">
          <img src="../../assets/img/logo@2x.png" alt="" class="logo" height="70px">
      </div>
      <div class="half">
          <ul class="header-buttons">
              <li>
                  <a href="#" class="refresh">
                      <img src="../../assets/img/refresh.png" alt="" width="32px">
                  </a>
              </li>
              <li>
                  <a href="#" class="blue">
                      <p>View Images on Website</p>
                  </a>
              </li>
              <li>
                  <a (click)="logout()" class="has-icon">
                      <p>Logout</p>
                  </a>
              </li>
              <!--<li>-->
              <!--    <a href="#">-->
              <!--        <p>logout</p>-->
              <!--    </a>-->
              <!--</li>-->
              <li>
                  <a href="#" class="has-icon">
                      <p><span class="icon"><img src="../../assets/img/help.png" alt=""></span>Help</p>
                  </a>
              </li>
          </ul>
      </div>
      <div class="full tab-container">
          <ul class="tabs">
              <li class="quarter">
                  <a (click)="filterOrders('active')" class="is-active">Active Rentals</a>
              </li>
              <li class="quarter">
                  <a (click)="filterOrders('upcoming')">Upcoming Rentals</a>
              </li>
              <li class="quarter">
                  <a (click)="filterOrders('expired')">Expired Rentals</a>
              </li>
              <li class="quarter">
                  <a (click)="filterOrders('test')">Test Images</a>
              </li>
          </ul>
      </div>
  </div>
</header>
