table {
    margin-top: 16px;
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    td, th {
        color: black;
        border-bottom: 1px solid rgba(0,0,0,0.87);
    }

    .mat-cell {
        font-size: 14px;
        color: rgba(0,0,0,0.87);
        letter-spacing: 0.13px;
   }
}