  #itemForm {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-top: 5%;
      padding-left: 12%;
      padding-right: 12%;
      padding-bottom: 5%; 
  }
