<!-- <div class="container">
    <div class="main-view mt-5">
        <h3 class="mb-5">Profile</h3>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="row justify-content-center">
                    <div class="col-12 img-section">
                        <img src="https://placekitten.com/200/200" alt="Avatar">
                    </div>
                    <div class="col-12 mt-5">
                        <span>First Name: </span>
                        <span>{{authService.userData?.firstName}}</span>
                    </div>
                    <div class="col-12 mt-2">
                        <span>Last Name: </span>
                        <span>{{authService.userData?.lastName}}</span>
                    </div>
                    <div class="col-12 mt-2">
                        <span>Email: </span>
                        <span>{{authService.userData?.email}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<p>Profile works.</p>
