:host {
  width: 600px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  box-sizing: content-box;
}

th {
  background: #f6f6f6;
  border: thin solid #00000044;

  &[role="columnheader"] {
    padding: 8px 4px;
  }
}

tr.selected th,
th.selected {
  background: #d6d6d6;
}

td {
  border: thin solid #00000022;
  position: relative;

  &[role="gridcell"].selected::before {
    content: "";
    display: block;
    position: absolute;
    border: 2px solid rgb(80, 155, 241);
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &[role="gridcell"].selected:focus-visible {
    outline: none;
  }
}

tr:nth-child(2n) td[role="gridcell"] {
  background: #6393bb10;
}
