<form class="container" [formGroup]="forgotPasswordForm" autocomplete="off" novalidate>

    <h3 class="mb-5">Reset Password</h3>

    <p class="text-center">Please enter your email address to request a password reset.</p>

    <mat-form-field class="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="forgotPasswordForm.get('email')" required>
        <mat-error *ngIf="isFormInvalid('email')">Please enter your login email.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="mt-2" (click)="resetPassword()">Reset Password</button>

    <div class="mt-2">
        <span>Go back to account?<a class="redirect" routerLink="/sign-in"> Log In</a></span>
    </div>
</form>
