<section class="section">
  <div class="container">

    <div style="text-align:center">
      <h1 class="title">
        {{title}}
      </h1>
      <img width="50" src="https://avatars2.githubusercontent.com/u/16272733?v=3&s=200">
    </div>
    <br/>
    <app-filter></app-filter>
    <br>
    <app-freelancer-grid></app-freelancer-grid>

  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Code written by <a href="http://github.com/badis">Badis Merabet</a>. 
        The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/badis/ngrx-angular2-example">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
