<mat-card class="uva-device-card mat-elevation-z2">
  <mat-card-header class="uva-device-card-header">
    <div class="uva-device-card-header-container">
      <div class="uva-device-card-header-section uva-device-card-header-details-block">
        <div class="uva-device-type">Example Hospital > Floor 2</div>
        <div class="uva-device-name">Room 123</div>
        <div class="uva-device-details">
          <div>Location: Hospital 1 > Floor 2 > Room 123</div>
        </div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="uva-device-card-content">
    <div class="uva-device-card-content-container">
      <div class="uva-device-card-content-section">
        <h4>Room specific info here...</h4>
      </div>
    </div>
  </mat-card-content>
</mat-card>