<mat-card class="uva-device-card mat-elevation-z2">
  <mat-card-header class="uva-device-card-header">
    <div class="uva-device-card-header-container">
      <div class="uva-device-card-header-section uva-device-card-header-details-block">
        <div class="uva-device-type">
          <app-location-presenter [location]="currentLocation" [title]="null"></app-location-presenter>
        </div>
        <div class="uva-device-name">{{ currentLocation.name }}</div>
        <div class="uva-device-details"></div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="uva-device-card-content">
    <div class="uva-device-card-content-container">
      <div class="uva-device-card-content-section">
        <h4>Room specific info here...</h4>
        <p>There are {{ devices?.length }} devices in current location</p>
        <p>Aggregate Air Quality Info</p>
        <p>BMS Integration</p>
        <p>API / 3rd Party Data Integration</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>