<mat-toolbar color="black">
  <a mat-button routerLink="/">
    <img src="../assets/logos/UVAngel_Icon_Reversed.svg" class="uva-logo">
  </a>
  <span>UV Angel Development</span>
  <span class="uva-nav-spacer"></span>
  <a mat-button routerLink="/data">Data</a>
  <a mat-button routerLink="/dynamic">Dynamic Treatment</a>
  <a mat-button routerLink="/service">Service</a>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
<footer>
  Copyright &copy; 2022. UV Angel. All Rights Reserved.
</footer>
