<div class="login">
  <section class="main">
    <div class="inner">
      <div class="full centered">
        <img src="./assets/img/logo-white@2x.png" alt="" class="logo" height="100px">
      </div>
      <h1 class="white">Welcome!</h1>
      <h6 class="white">Enter Activation Code Below</h6>
      <div class="form">
        <input #code type="text" name="activation" id="activation" placeholder="Activation Code" />
        <div class="button">
          <button (click)="onCodeSubmit(code)" class="primary">Submit</button>
        </div>
      </div>
      <h6 class="white with-lines">or</h6>
      <h6 class="white">Login</h6>

      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="form">
        <input
          type="email"
          [(ngModel)]="user.email"
          [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"
          name="email"
          placeholder="Email"
          #userEmail="ngModel"
          required
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        />
        <div [hidden]="!userEmail.errors?.required" >Email required</div>
        <div [hidden]="!userEmail.errors?.pattern" >Email invalid</div>

        <input
          type="password"
          [(ngModel)]="user.password"
          [ngClass]="{'is-invalid':userPassword.errors && userPassword.touched}"
          name="password"
          placeholder="Password"
          #userPassword="ngModel"
          required
          minlength="2"
        />
        <div [hidden]="!userPassword.errors?.required" >Password required</div>
        <div [hidden]="!userPassword.errors?.minlength" >Password invalid</div>

        <div class="button">
          <button [disabled]="!userForm.form.valid" class="secondary">Login</button>
        </div>
      </form>
    </div>
  </section>
  <app-loader *ngIf="showLoader"></app-loader>
</div>
