<div class="login">
  <section class="main">
    <div class="inner">
      <div class="full centered">
        <img src="../../assets/img/logo-white@2x.png" alt="" class="logo" height="100px">
      </div>
      <h1 class="white">Welcome!</h1>
      <h6 class="white">Enter Activation Code Below</h6>
      <div class="form">
        <input type="text" name="activation" id="activation" placeholder="Activation Code" />
        <div class="button">
          <button class="primary">Submit</button>
        </div>
      </div>
      <h6 class="white with-lines">or</h6>
      <h6 class="white">Login</h6>
      <div class="form">
        <input type="email" name="email" id="email" placeholder="Email" />
        <input type="password" name="password" id="password" placeholder="Password" />
        <div class="button">
          <button class="secondary">Login</button>
        </div>
      </div>
    </div>
  </section>
</div>