input.is-invalid {
  border: 1px solid red;
}
.invalid-feedback {
  visibility: hidden;
}
.notification-alt {
  width: 96%;
  height: auto;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -48%;
  z-index: 1;
  border: 1px solid red;
  text-align: center;
  border-radius: 6px;
  background: #E52A6F;
  color: white;
  font-weight: bold;
}

.btn-group {
  .button {
    width: 50%;
    float: left;
    &:first-child {
      padding-right: 10px;
    }
    &:last-child {
      padding-left: 10px;
    }
  }

}

