<div id="uvaEnviroControlPanel" cdkDrag cdkDragBoundary="app-dynamic-treatment-view" class="mat-elevation-z2" *ngIf="isManualMode">
    <h1 mat-dialog-title>Environment Controls</h1>
    <div mat-dialog-content>
        <div class="uva-slider-container">
            <uva-slider-group measurand="temperature" label="Temperature" min="0" max="100" value="80" step="1"></uva-slider-group>
            <uva-slider-group measurand="humidity" label="Humidity" min="0" max="100" value="80" step="1"></uva-slider-group>
            <uva-slider-group measurand="voc" label="VOC" min="0" max="100" value="80" step="1"></uva-slider-group>
            <uva-slider-group measurand="occupancy" label="Occupancy" min="0" max="100" value="80" step="1"></uva-slider-group>
        </div>
    </div>
    <div mat-dialog-actions class="uva-dialog-actions">
        <button mat-button mat-raised-button color="primary" (click)="closePanel($event)">Close</button>
    </div>
</div>
