<div id="uvaEnviroControlPanel">
    <h1 mat-dialog-title>Environment Controls</h1>
    <div mat-dialog-content>
        <uva-slider-group measurand="temperature" min="0" max="100" value="80" step="1"></uva-slider-group>
        <uva-slider-group measurand="humidity" min="0" max="100" value="80" step="1"></uva-slider-group>
        <uva-slider-group measurand="voc" min="0" max="100" value="80" step="1"></uva-slider-group>
        <uva-slider-group measurand="occupancy" min="0" max="100" value="80" step="1"></uva-slider-group>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="closePanel($event)">Close</button>
        <button mat-button (click)="logPanelDetails()">Show State</button>
    </div>
</div>
