.wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    justify-content: center;
    margin-top: 10px;

    .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
        height: 200px;
        cursor: pointer;
    }
}
