<mat-card class="uva-device-card mat-elevation-z2">
  <mat-card-header class="uva-device-card-header">
    <div class="uva-device-card-header-container">
      <div class="uva-device-card-header-section uva-device-card-header-details-block">
        <div class="uva-device-type">
          <app-location-presenter [location]="currentLocation" [title]="null"></app-location-presenter>
        </div>
        <div class="uva-device-name">{{ currentLocation.name }}</div>
        <div class="uva-device-details"></div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="uva-device-card-content">
    <div class="uva-device-card-content-container">
      <div class="uva-device-card-content-section">
        <div class="uva-device-card-header-w-control">
          <div class="uva-left">
            <h4>Air Quality</h4>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-content class="uva-device-card-content">
    <div class="uva-device-card-content-container">
      <div class="uva-device-card-content-section">
        <h4>Environmental Events</h4>
        <div class="uva-progress-bar-group mat-elevation-z3">
          <div class="uva-progress-bar-container">
            <span class="uva-progress-bar-label">Handwashing Compliance (75%)</span>
            <mat-progress-bar mode="determinate" [value]="75"></mat-progress-bar>
            <span class="uva-progress-bar-note">Over last 24 hours</span>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>