<section class="main">
  <div class="inner">
      <div class="item quarter">
          <div class="item-inner">
              <figure><img src="../../assets/../../assets/img/genericimage.png" alt=""></figure>
              <div class="text">
                  <div class="full">
                      <p class="image-name">Sharks</p>
                      <p class="skunumber">794253645</p>
                  </div>
                  <div class="full">
                      <p class="image-date">Valid until: <span>April 02, 2018</span></p>
                      <p class="image-days">2 Days Remaining</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="item quarter">
          <div class="item-inner">
              <figure><img src="../../assets/img/genericimage.png" alt=""></figure>
              <div class="text">
                  <div class="full">
                      <p class="image-name">Sharks</p>
                      <p class="skunumber">794253645</p>
                  </div>
                  <div class="full">
                      <p class="image-date">Valid until: <span>April 02, 2018</span></p>
                      <p class="image-days">2 Days Remaining</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="item quarter">
          <div class="item-inner">
              <figure><img src="../../assets/img/genericimage.png" alt=""></figure>
              <div class="text">
                  <div class="full">
                      <p class="image-name">Sharks</p>
                      <p class="skunumber">794253645</p>
                  </div>
                  <div class="full">
                      <p class="image-date">Valid until: <span>April 02, 2018</span></p>
                      <p class="image-days">2 Days Remaining</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="item quarter">
          <div class="item-inner">
              <figure><img src="../../assets/img/genericimage.png" alt=""></figure>
              <div class="text">
                  <div class="full">
                      <p class="image-name">Sharks</p>
                      <p class="skunumber">794253645</p>
                  </div>
                  <div class="full">
                      <p class="image-date">Valid until: <span>April 02, 2018</span></p>
                      <p class="image-days">2 Days Remaining</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="item quarter">
          <div class="item-inner">
              <figure><img src="../../assets/img/genericimage.png" alt=""></figure>
              <div class="text">
                  <div class="full">
                      <p class="image-name">Sharks</p>
                      <p class="skunumber">794253645</p>
                  </div>
                  <div class="full">
                      <p class="image-date">Valid until: <span>April 02, 2018</span></p>
                      <p class="image-days">2 Days Remaining</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="item quarter">
          <div class="item-inner">
              <figure><img src="../../assets/img/genericimage.png" alt=""></figure>
              <div class="text">
                  <div class="full">
                      <p class="image-name">Sharks</p>
                      <p class="skunumber">794253645</p>
                  </div>
                  <div class="full">
                      <p class="image-date">Valid until: <span>April 02, 2018</span></p>
                      <p class="image-days">2 Days Remaining</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="item quarter">
          <div class="item-inner">
              <figure><img src="../../assets/img/genericimage.png" alt=""></figure>
              <div class="text">
                  <div class="full">
                      <p class="image-name">Sharks</p>
                      <p class="skunumber">794253645</p>
                  </div>
                  <div class="full">
                      <p class="image-date">Valid until: <span>April 02, 2018</span></p>
                      <p class="image-days">2 Days Remaining</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="item quarter">
          <div class="item-inner">
              <figure><img src="../../assets/img/genericimage.png" alt=""></figure>
              <div class="text">
                  <div class="full">
                      <p class="image-name">Sharks</p>
                      <p class="skunumber">794253645</p>
                  </div>
                  <div class="full">
                      <p class="image-date">Valid until: <span>April 02, 2018</span></p>
                      <p class="image-days">2 Days Remaining</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
