<mat-card class="uva-device-card mat-elevation-z2" *ngIf="device">
  <mat-card-header class="uva-device-card-header">
    <div class="uva-device-card-header-container">
      <app-device-info [device]="device"></app-device-info>
    </div>
  </mat-card-header>
  <mat-card-content class="uva-device-card-content">
    <div class="uva-device-card-content-container">
      <div class="uva-device-card-content-section">
        <div class="uva-device-card-header-w-control">
          <div class="uva-left"><h4>Air Quality</h4></div>
          <div class="uva-right">
            <uva-mode-toggle></uva-mode-toggle>
          </div>
        </div>
        <div class="uva-aq-graph-container mat-elevation-z3">
          <div class="uva-aq-total-container">
            <uva-total-aq-graph-cjs [data]="totalData.data"></uva-total-aq-graph-cjs>
          </div>
          <div class="uva-aq-component-container">
            <div class="uva-aq-component-graph-row">
              <div class="uva-aq-component-graph-container uva-left">
                <uva-aq-graph measurand="temperature" label="Temperature" [minValue]="temperatureData.minValue"
                  [maxValue]="temperatureData.maxValue" [data]="temperatureData.data" [labels]="temperatureData.labels"></uva-aq-graph>
              </div>
              <div class="uva-aq-component-graph-container uva-right">
                <uva-aq-graph measurand="humidity" label="Humidity" [minValue]="humidityData.minValue"
                  [maxValue]="humidityData.maxValue" [data]="humidityData.data" [labels]="humidityData.labels"></uva-aq-graph>
              </div>  
            </div>
            <div class="uva-aq-component-graph-row">
              <div class="uva-aq-component-graph-container uva-left">
                <uva-aq-graph measurand="voc" label="VOC" [minValue]="0"
                  [maxValue]="500" [data]="vocData.data" [labels]="vocData.labels"></uva-aq-graph>
              </div>
              <div class="uva-aq-component-graph-container uva-right">
                <uva-aq-graph measurand="occupancy" label="Occupancy" [minValue]="0"
                  [maxValue]="30" [data]="occupancyData.data" [labels]="occupancyData.labels"></uva-aq-graph>
              </div>  
            </div>
          </div>  
        </div>
      </div>
    </div>
    <div class="uva-device-card-content-container">
      <div class="uva-device-card-content-section">
        <h4>Parts Status</h4>
        <div class="uva-progress-bar-group mat-elevation-z3">
          <div class="uva-progress-bar-container">
            <span class="uva-progress-bar-label">Lamp</span>
            <mat-progress-bar mode="determinate" [value]="lampDaysLeft / LAMP_LIFE_DAYS * 100"></mat-progress-bar>
            <span class="uva-progress-bar-note">Est. Replacement: {{ lampReplacementDate | date:'MMM d YYYY' }} ({{ lampDaysLeft }} days)</span>
          </div>
          <div class="uva-progress-bar-container">
            <span class="uva-progress-bar-label">Filter</span>
            <mat-progress-bar mode="determinate" [value]="filterDaysLeft / FILTER_LIFE_DAYS * 100"></mat-progress-bar>
            <span class="uva-progress-bar-note">Est. Replacement: {{ filterReplacementDate | date:'MMM d YYYY' }} ({{ filterDaysLeft }} days)</span>
          </div>  
        </div>
      </div>
    </div>
    <div class="uva-device-card-content-container">
      <div class="uva-device-card-content-section">
        <h4>Event History</h4>
        <uva-event-table [eventData]="eventData"></uva-event-table>
      </div>
    </div>
    </mat-card-content>
 </mat-card>
 <uva-enviro-control-panel
  initTemperature="{{this.currentTemperature}}"
  initHumidity="{{this.currentHumidity}}"
  initVoc="{{this.currentVoc}}"
  initOccupancy="{{this.currentOccupancy}}"
 ></uva-enviro-control-panel>