:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    height: 500px;

    uvc-geojson-map {
        width: 100%;
        height: 100%;
        height: 500px;
    }
}
