<uvc-geojson-map
    [geojson]="geojson"
    [showSpinner]="showSpinner"
    (selectLevel)="onLevelChanged($event)"
    (mapClick)="onMapClick($event)"
    (markerClick)="onMarkerClick($event)"
    (mapZoom)="onMapZoom($event)"
    [popupLocation]="lastClickedMarker?.lngLat"
    [selectedLevelId]="selectedLevelId"
    [selectedFeatureId]="selectedFeatureId"
    [symbols]="mapSymbols"
    [markers]="mapMarkers"
    [symbolImage]="[
      {
        id: 'air20-image',
        url: 'assets/devices/air20/air20-flat.png'
      },
      {
        id: 'surfacide-robot-image',
        url: 'assets/logos/partners/surfacide/surfacide_towers.png'
      }
    ]"
    [symbolLayout]="{
      'icon-size': [
        'interpolate', ['exponential', 2], ['zoom'],
        15, 0.01,
        25, ['match', ['get', 'icon-image'], 'air20-image', 2, 10]
      ],
      'icon-rotation-alignment': 'map',
      'icon-rotate': -30
    }"
    [showLevelPicker]="false"
    [showNavigationControls]="true"
    [bounds]="focusBounds"
    [popupOffset]="[6, -23]"
    >
    <div *ngIf="deviceService.getDevice(lastClickedMarker?.feature.id) as device" mapPopup class="device-popup">
        <app-device-info [device]="device"></app-device-info>
    </div>
</uvc-geojson-map>
<uva-device-panel *ngIf="sidePanelVisibility.device" class="uva-device-panel" [@enterAnimation]></uva-device-panel>
<uva-room-panel *ngIf="sidePanelVisibility.room"  class="uva-room-panel" [@enterAnimation]></uva-room-panel>
<uva-floor-panel *ngIf="sidePanelVisibility.floor" class="uva-floor-panel" [@enterAnimation]></uva-floor-panel>

<!--div class="uva-temp-floating-buttons">
  <button (click)="setSidePanelVisibility('device')">View Device Panel</button>
  <button (click)="setSidePanelVisibility('room')">View Room Panel</button>
  <button (click)="setSidePanelVisibility('floor')">View Floor Panel</button>
</div-->

<uva-enviro-control-panel ></uva-enviro-control-panel>
