<h1>Dynamic Treatment View</h1>
<mat-card class="uva-device-card">
  <mat-card-header>
    <div mat-card-avatar class="uva-device-card-header-image"></div>
    <span class="uva-device-type">UV Angel Air 2.0</span>
    <div class="uva-device-name">UVA HQ Lab 1</div>
    <div class="uva-device-details">
      <span>Location: UVA HQ Lab 1</span>
      <span>Serial #: SE123401-1351-1234</span>
      <span>Installation Date: Dec 12, 2021</span>
    </div>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<app-map-view view="room"></app-map-view>