<mat-card class="uva-device-card">
  <mat-card-header class="uva-device-card-header">
    <div class="uva-device-card-header-container">
      <div class="uva-device-card-header-section uva-device-card-header-mode-block">
        <div mat-card-avatar class="uva-device-card-header-image"></div>
        <div class="uva-device-mode">Mode: Medium</div>
      </div>
      <div class="uva-device-card-header-section uva-device-card-header-details-block">
        <div class="uva-device-type">UV Angel Air 2.0</div>
        <div class="uva-device-name">UVA HQ Unit 124</div>
        <div class="uva-device-details">
          <div>Location: UVA HQ Lab 1</div>
          <div>Serial #: SE123401-1351-1234</div>
          <div>Installation Date: Dec 12, 2021</div>
        </div>
      </div>  
    </div>
  </mat-card-header>
  <mat-card-content class="uva-device-card-content">
    <div class="uva-device-card-content-container">
      <div class="uva-device-card-content-section">
        <h4>Air Quality</h4>
      </div>
    </div>
    <div class="uva-device-card-content-container">
      <div class="uva-device-card-content-section">
        <h4>Parts Status</h4>
        <div class="uva-progress-bar-container">
          <span class="uva-progress-bar-label">Lamp</span>
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          <span class="uva-progress-bar-note">Est. Replacement: Dec 12 2022 (210 days)</span>
        </div>
        <div class="uva-progress-bar-container">
          <span class="uva-progress-bar-label">Filter</span>
          <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
          <span class="uva-progress-bar-note">Est. Replacement: Dec 12 2022 (210 days)</span>
        </div>

      </div>
    </div>
    <div class="uva-device-card-content-container">
      <div class="uva-device-card-content-section">
        <h4>Event History</h4>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef>Item</th>
            <td mat-cell *matCellDef="let element"> {{element.item}} </td>
          </ng-container>
          <ng-container matColumnDef="eventType">
            <th mat-header-cell *matHeaderCellDef>Event</th>
            <td mat-cell *matCellDef="let element"> {{element.eventType}} </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        
        </table>
      </div>
    </div>
    </mat-card-content>
 </mat-card>

<app-map-view view="room"></app-map-view>
