@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'material-icons/iconfont/material-icons.scss';

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

  * {
    box-sizing: inherit
  }
}

textarea.transparent, input.transparent {
  all: unset;
}
