<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>

  <div>
    <h4>Settings</h4>
    <div *ngIf="activeSerialPort">
      <p>Current Serial Port: <b>{{ activeSerialPort.settings.path }}</b></p>

      <button mat-raised-button color="primary" (click)="fanOperationModeTest(3)">Send Test Command (air20_set_fan_operation_mode to "3")</button>
    </div>
    
    <button mat-raised-button color="primary" (click)="listSerialPorts()">List Serial Ports</button>

    <form *ngIf="availablePorts && availablePorts.length > 0" [formGroup]="serialPortForm" (ngSubmit)="onSerialPortFormSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Select Serial Port Path</mat-label>
        <mat-select formControlName="path" [compareWith]="portCompareFn">
          <mat-option *ngFor="let port of availablePorts" [value]="port.path">{{port.path}}</mat-option>
        </mat-select>
        <mat-error *ngIf="serialPortForm.get('path').hasError('required')">
          You must select a port
        </mat-error>
      </mat-form-field>
      <!-- error block -->
      <button mat-raised-button color="primary" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
