<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>

  <div>
    <h4>Settings</h4>
    <div *ngIf="activeSerialPort">
      <p>Current Serial Port: <b>{{ activeSerialPort.settings.path }}</b></p>

      <button mat-raised-button color="primary" (click)="fanOperationModeTest(3)">Send Test Command (air20_set_fan_operation_mode to "3")</button>
    </div>
    <div *ngIf="!activeSerialPort">
      <p>No Active Serial Port!</p>
    </div>

    <hr>
    
    <button *ngIf="!editingSerialPort" mat-raised-button color="primary" (click)="editSerialPortPath()">Edit Serial Port Path</button>

    <form *ngIf="editingSerialPort" [formGroup]="serialPortFormGroup" (ngSubmit)="onSerialPortFormSubmit()">
      <select formControlName="path">
        <option value="">Select Serial Port Path</option>
        <option *ngFor="let port of availablePorts" [value]="port.path">{{port.path}}</option>
      </select>
      <button mat-raised-button color="primary" type="submit">
        Submit
      </button>
      <button *ngIf="editingSerialPort" mat-raised-button color="danger" (click)="editingSerialPort = false">Cancel</button>
    </form>
  </div>
</div>
