# This is a basic workflow to help you get started with Actions
name: 'MacOS Build'

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        node-version: [22]

    # The type of runner that the job will run on
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v6

    - name: Cache Node modules
      uses: actions/cache@v4
      with:
        # npm cache files are stored in ~/.npm
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install macOS dependencies
      if: matrix.platform == 'macos-latest'
      run: |
        brew install gnu-tar coreutils
        echo "Homebrew dependencies installed"

    - name: Install Dependencies
      run: npm ci && npm i -D cli-truncate iconv-corefoundation

    - name: Check lint
      run: npm run lint

    - name: Install Playwright Browsers
      run: npx playwright@1.57.0 install --with-deps

    - name: Run headless unit test
      run: npm run test -- --reporters=default

    - name: Run headless e2e test
      run: npm run e2e

    - name: Build the app
      run: npm run electron:build
